<h1 align="center"> <%=@player_1%> </h1>
<h3 align="center">vs.</h3>
<h1 align="center"> <%=@player_2%> </h1>


<h3 align="center"> <%=@player_1%>: <%=@player1_points%>HP <%=@player_2%>: <%=@player2_points%>HP </h3>



<!-- <p align="center"><button type="button">Attack <%=@player_2%>!</button></p> -->
<h2><%= @player_turn%>'s turn<h2>
<form action="/fight">
    <button>Attack!</button>
</form>
